
<div class="newpost">
    <div class="navbarn"><app-navbar class="navbarc"></app-navbar></div>
    <div class="newpostbody">
        <div class="header">
            New post
        </div>
        <div class="postbody">
            <img src="../assets/person.jpeg" alt="profile pic" class="profilepic">
            <form action="" class="newpostform">
                <!-- <input type="text" name="" class="postwords"  placeholder="What’s on your mind??" > -->
                <textarea name="" class="postwords" cols="30" rows="10" placeholder="What’s on your mind??" ></textarea>
                <div class="postimage">
    
                </div>
                <div class="bottomform">
                    <input type="file" name="" class="newpostimginput" >
                    
                    <button type="submit" class="btn">Post</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
