.onepost{
    color: white;
}
/* if width is scrollable, delete the margin-left from .onepostbody and uncomment from header and .postbody */
.onepostbody{
    height: 100%;
    /* background-color: rgb(36, 13, 100); */
    margin-left: 20.1%;
}
.innerbody{
    width: 100%;
}
.header{
    font-size: 36px;
    border-bottom: solid black;
}
.postbody{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
}

.profilepicimgm{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profilepic{
    width: 10%;
    display: flex;
    justify-content: center;
}
.comments1, .comments2{
    display: flex;
    
}
.profilepicimg1{
    border-radius: 50%;
    width: 40px;
    height: 40px;   
}
.profilepicimg2{
    border-radius: 50%;
    width: 25px;
    height: 25px; 
}
.commenticon{
    /* margin-right: 40%; */
}
.foot{
    display: flex;
    align-items: center;
}
.foot>svg, .posticons1>svg{
    margin-right: 5px;
}

.posticonsm{
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.posticons1{
    display: flex;
}
.likeicon1, .commenticon1{
    width: 30px;
}
.likeicon2, .commenticon2{
    width: 25px;
}
.comments2, .comments1{
    width: 100%;
}
.profilepic2{
    margin-right: 30px;
}

.newcomment{
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.newcommentm{
    height: 60px;
}
.newcomment1{
    height: 50px;
}
.txt{
    width: 50%;
    margin-right: 30%;
    height: 90%;
    border: 0;
    padding-left: 10px;
    margin-left: 4px;
    
}
.cbtn{
    width: 70px;
    background-color: #202044;
    color: white;
    border-radius: 10px;
    height: 50%;
}
.innercommentbody{
    width: 80%;
}

.innerheader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.elypsis{
    margin-right: 5px;
}
.elypsis1{
    height: 30px;
    width: 30px;
}
.elypsis2{
    height: 25px;
    width: 25px;
}
svg:hover{
    stroke: #FF851B;
    fill: #FF851B;
    cursor: pointer;
}
button:hover{
    background-color: #FF851B;
}
button{
    outline: none;
    border: 0;
}
input{
    outline: none;
}
.postpic>img{
    max-width: 90%;
    max-height: 400px;
}

@media screen and (max-width: 768px) {
    /* mobile view */
    .onepostbody{
        width: 100%;
        margin-left: 0;
        
    }
    .profilepicm, .profilepic1{
        margin-right: 20px;
    }
    .newcommentm{
        height: 50px;
    }
    .newcomment1{
        height: 40px;
    }
    .header{
        height: 30px;
        font-size: 20px;
    }   
}
@media screen and (max-width: 699px) {
    .txt{
        width: 60%;
    }
}
@media screen and (max-width: 660px) {
    .txt{
        width: 75%;
    }
    .cbtn{
        margin-right: 10px;
    }
    .txt1{
        font-size: 11px;
    }
    .profilepicimgm{
        height: 40px;
        width: 40px;
    }
}
@media screen and (max-width: 420px) {
    .posticonsm{
        width: 60%;
    }
}
@media screen and (max-width: 382px) {
    .profilepicm{
        margin: 10px;
    }
    .profilepicimgm{
        height: 35px;
        width: 35px;
    }
}
@media screen and (max-width: 290px) {
    .txt1{
        font-size: 10px;
    }
    .newcommentm{
        height: 40px;
    }
    .newcomment1{
        height: 35px;
    }
}
@media screen and (max-width: 260px) {
    .posticonsm{
        width: 100%;
    }
     
}