<div class="onepost">
    <div class="navbar"><app-navbar class="navbarc"></app-navbar></div>
    <div class="onepostbody">
        <div class="header" >post</div>
        <div class="postbody">
            
            <div class="profilepic profilepicm">
                <img *ngIf="onepost.profilepic" [src]="onepost.profilepic" class="profilepicimg profilepicimgm">
                <img *ngIf="!onepost.profilepic" [src]="'../assets/logo.png'" alt="" class="profilepicimg profilepicimgm">
            </div>
            <div class="innerbody">
                <div class="innerheader">
                    <p class="username usernamem">{{onepost.username}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="elypsis"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </div>
                
                <p>{{onepost.postwords}}</p>
                <div class="postpic" *ngIf="onepost.postpic">
                    <img [src]="onepost.postpic" >
                </div>
                <div class="postpic" *ngIf="!onepost.postpic">

                </div>
                <div class="posticons posticonsm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="commenticon commenticon"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                    {{onepost.comments}}
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="likeicon likeicon"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                    {{onepost.likes}}
                </div>
                
                <form action=""class="newcomment newcommentm">
                    <input type="text" name="" class="txt txtm" placeholder="your thoughts?">
                    <button type="submit" class="cbtn cbtnm">Send</button>
                </form>
                <div class="comments1" [style.display]="commentDisplay" *ngFor = 'let item of allcomments'>
                    <div class="profilepic profilepic1" >
                
                        <img  *ngIf="item.profilepic" [src]="item.profilepic" class="profilepicimg profilepicimg1">
                        <img  *ngIf="!item.profilepic" [src]="'../assets/logo.png'" class="profilepicimg profilepicimg1">
                    </div>
                    <div class="innercommentbody">
                        <div class="innerheader">
                            <p class="username usernamem">{{item.username}}</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="elypsis elypsis1"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                        </div>
                        <p>{{item.commentbdy}}</p>
                        
                        <div class="posticons posticons1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="commenticon commenticon1"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                             
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="likeicon likeicon1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                        </div>
                        <form action=""class="newcomment newcomment1">
                            <input type="text" name="" class="txt txt1" placeholder="your thoughts?">
                            <button type="submit" class="cbtn cbtn1">Send</button>
                        </form>

                        <div class="comments2" [style.display]="comment2Display" *ngFor = 'let inneritem of item.innercomments'>
                            <div class="profilepic profilepic2">
                                <img  *ngIf="inneritem.profilepic" [src]="inneritem.profilepic" class="profilepicimg profilepicimg2">
                                <img  *ngIf="!inneritem.profilepic" [src]="'../assets/logo.png'" class="profilepicimg profilepicimg2">

                                <!-- <img src="../assets/person.jpeg" alt="profile pic" class="profilepicimg profilepicimg2"> -->
                            </div>
                            <div class="innercommentbody">
                                <div class="innerheader">
                                    <p class="username usernamem">{{inneritem.username}}</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="elypsis elypsis2"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                </div>
                                <p>{{inneritem.commentbdy}}</p>
                                <div class="posticons posticons1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="commenticon commenticon2"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                                     
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="likeicon likeicon2"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="comments2" [style.display]="comment2Display">
                            <div class="profilepic profilepic2">
                                <img src="../assets/person.jpeg" alt="profile pic" class="profilepicimg profilepicimg2">
                            </div>
                            <div class="innercommentbody">
                                <div class="innerheader">
                                    <p class="username usernamem">Michael Mkubwa</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="elypsis elypsis2"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                </div>
                                <p>some comments here</p>
                                <div class="posticons posticons1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="commenticon commenticon2"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                                     
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="likeicon likeicon2"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    
                    
                </div>

                <!-- <div class="comments1" [style.display]="commentDisplay">
                    <div class="profilepic profilepic1">
                        <img src="../assets/person.jpeg" alt="profile pic" class="profilepicimg profilepicimg1">
                    </div>
                    <div class="innercommentbody">
                        <div class="innerheader">
                            <p class="username usernamem">Michael Mkubwa</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="elypsis elypsis1"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                        </div>
                        <p>some comments here</p>
                        <div class="posticons posticons1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="commenticon commenticon1"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                             
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="likeicon likeicon1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                        </div>
                        <form action=""class="newcomment newcomment1">
                            <input type="text" name="" class="txt txt1" placeholder="your thoughts?">
                            <button type="submit" class="cbtn cbtn1">Send</button>
                        </form>
                    </div>
                    
                </div> -->
            </div>
            
        </div>
    </div>
</div>