<div class="people">
    <div class="person" *ngFor="let user of following">
        <div class="profilepic">
            <img *ngIf="user.profilepic!=null" [src]="user.profilepic" class="profilepicimg">
            <img *ngIf="user.profilepic==null" [src]="'../assets/logo.png'" class="profilepicimg">
        </div>
        <div class="profilewords">
            <p class="name">{{user.username}}</p>
            <p class="email">{{user.email}}</p>
            <p class="bio">{{user.bio}}</p>
        </div> 
    </div>
    <!-- <div class="person">
        <div class="profilepic">
            <img src="../assets/person.jpeg" alt="profile pic" class="profilepicimg">
        </div>
        <div class="profilewords">
            <p class="name">Calvince Ndemo</p>
            <p class="email">calyndemo16@gmail.com</p>
            <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero ea praesentium doloribus reprehenderit! Libero obcaecati sit odio quidem eaque iste.</p>
        </div> 
    </div> -->


</div>
