<div class="login">
    <div class="whitepage">

        <p class="welcome">Welcome back</p>
        <div class="alert" [style.color]="clr">
            {{alertMsg}}
        </div>
        <form  class="inputs" [formGroup]="form"  (ngSubmit)="onSubmit(form)">
            
            <input type="email" name="email" id="emaill" placeholder="Email" formControlName="email">
            <input type="password" name="password" id="passwordl" placeholder="Password" formControlName="password">
            <button type="submit">Log in</button>
        </form>
        <p class="fpassword" style=" color: black;">Forgot password?</p>
        <p class="dont">Don't have an account? <span style="color: #755BB4;" (click)="signup()" >sign up</span></p>
    </div>

    <div class="logopage">

        <div class="logo">

            <img src="..\assets\logo.png" alt="logo">
        </div>
        <div class="motto">
            <p>It's a new experience each day</p>
        </div>
    </div>

    
</div>