<div class="login">
    <div class="whitepage">

        <p class="welcome">Welcome back</p>
        <form action="" class="inputs">
            <input type="text" name="email" id="emaill" placeholder="Email">
            <input type="password" name="password" id="passwordl" placeholder="Password">
            <button type="submit">Log in</button>
        </form>
        <p class="fpassword" style=" color: black;">Forgot password?</p>
        <p class="dont">Don't have an account? <span style="color: #755BB4;">sign up</span></p>
    </div>

    <div class="logopage">

        <div class="logo">

            <img src="..\assets\logo.png" alt="logo">
        </div>
        <div class="motto">
            <p>It's a new experience each day</p>
        </div>
    </div>

</div>