<div class="accountprofile">
    <div class="navbar"><app-navbar></app-navbar></div>

    <div class="accountprofilebody">
        <div class="topbar">
            <p class="username">Calvince Ndemo</p>
            <input type="text" name="" class="search" placeholder="search">
        </div>
        <div class="profileinfo">
            <div class="profilepic">
                <img src="../assets/person.jpeg" alt="profile pic" class="profilepicimg">
            </div>
            <div class="profilewords">
                <p class="name">Calvince Ndemo</p>
                <p class="email">calyndemo16@gmail.com</p>
                <p class="bio">It is how you define</p>
            </div>
            
        </div>

        <div class="innernav">
            <p><span>188</span>  Followers</p>
            <p><span>308</span> Following</p>
            <p>People you may know</p>
        </div>
        <div class="contentbody">

            <!-- <app-followers></app-followers> -->
            <!-- <app-following></app-following> -->
            <app-peopleymk></app-peopleymk>




        </div>
    </div>
</div>