<div class="accountprofile">
    <div class="navbar"><app-navbar></app-navbar></div>

    <div class="accountprofilebody">
        <div class="topbar">
            <p class="username">{{username}}</p>
            <input type="text" name="" class="search" placeholder="search">
        </div>
        <div class="profileinfo">
            <div class="profilepic">
                <img src="../assets/person.jpeg" alt="profile pic" class="profilepicimg">
            </div>
            <div class="profilewords">
                <p class="name">{{username}}</p>
                <p class="email">{{email}}</p>
                <p class="bio">{{bio}}</p>
            </div>
            
        </div>

        <div class="innernav">
            <p (click)="followers()" [style.color]="txtcolor1"><span>188</span>  Followers</p>
            <p (click)="following()" [style.color]="txtcolor2"><span>308</span> Following</p>
            <p (click)="peopleymk()" [style.color]="txtcolor3">People you may know</p>
        </div>
        
        <div  class="contentbody">

            <div *ngIf="choice == 'followers'">
                <app-followers ></app-followers>
            </div>
            <div  *ngIf="choice == 'following'">
                <app-following></app-following>
            </div>
            <div  *ngIf="choice == 'peopleymk'">
                <app-peopleymk></app-peopleymk>
            </div>
       

        </div>
    </div>
</div>