<div class="accountprofile">
    <div class="navbar"><app-navbar></app-navbar></div>

    <div class="accountprofilebody">
        <div class="topbar">
            <p class="username">{{username}}</p>
            <input type="text" name="" class="search" placeholder="search">
        </div>
        <div class="profileinfo">
            <div class="profilepic">
                <img *ngIf="profilepic!=null" [src]="profilepic"  class="profilepicimg">
                <img *ngIf="profilepic==null" [src]="'../assets/logo.png'"  class="profilepicimg">
            </div>
            <div class="profilewords">
                <p class="name">{{username}}</p>
                <p class="email">{{email}}</p>
                <p class="bio">{{bio}}</p>
                
                <button (click)="updatebio()">update</button>
            </div>
            
        </div>

        <div class="updatebio" [style.display]="updatedisp">
            <form class="updatefrm" action="" [formGroup]="form"  (ngSubmit)="onSubmit(form)">
                <div class="inputs">
                    <label for="username">name: </label>
                    <input type="text" name="name" class="name" formControlName="username">
                    
                </div>
                <div class="inputs" >
                    <label for="email">email: </label>
                    <input type="email" name="email" class="email" formControlName="email">
                </div>
                <div class="inputs">
                    <label for="bio">your bio: </label>
                    <input type="text" name="bio" class="bio" formControlName="bio">
                </div>
                <div class="inputs">
                    <label for="profilepic">profile picture: </label>
                    <input type="file" name="profilepic" class="profilepic" formControlName="profilepic">
                </div>
                    <button type="submit" class="btn">submit</button>
                
            </form>
        </div>

        <div class="innernav" [style.display]="display">
            <p (click)="followers()" [style.color]="txtcolor1"><span>188</span>  Followers</p>
            <p (click)="following()" [style.color]="txtcolor2"><span>308</span> Following</p>
            <p (click)="peopleymk()" [style.color]="txtcolor3">People you may know</p>
        </div>
        <div  class="contentbody" [style.display]="display">

            <div *ngIf="choice == 'followers'">
                <app-followers ></app-followers>
            </div>
            <div  *ngIf="choice == 'following'">
                <app-following></app-following>
            </div>
            <div  *ngIf="choice == 'peopleymk'">
                <app-peopleymk></app-peopleymk>
            </div>
       

        </div>
    </div>
</div>