.accountprofile{
    height: 100%;
}
.accountprofilebody{
    color: white;
    margin-left: 20.2%;
    height: 100%;
}
.topbar{
    display: flex;
    width: 100%;
    border-bottom: solid black;
    height: 35px;
    align-items: center;
}

.username{
    margin-right: 40%;
    margin-left: 5%;
}
.search{
    padding-left: 5px;
    height: 70%;
    border-radius: 10px;
    border: 0;
}
.innernav{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid black;
    border-top: solid black;
}
.profileinfo{
    display: flex;
    margin-top: 5px;
    align-items: center;
}
.profilepic{
    margin-right: 40px;
}
.profilepicimg{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.search{
    outline: none;
}
.innernav>p:hover{
    color: #FF851B;
    cursor: pointer;
}
.profilewords>button{
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #755BB4;
    border: none;
    outline: none;
    margin-top: 5px;
}
.profilewords>button:hover{
    background-color: #FF851B;
    cursor: pointer;
}
.updatebio{
    width: 100%;
    border-top: solid black;
    padding-top: 10px;
    /* margin-left: 20px; */
    /* background-color: red; */
}
.updatefrm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
}
.inputs{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.inputs>label{
    margin-right: 50px;
}
.inputs>input{
    border: none;
    outline: none;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    width: 60%;

}

@media screen and (max-width: 768px) {
    /* mobile view */
    .accountprofilebody{
        width: 100%;
        margin-left: 0;
    }
    .username{
        margin-right: 20%;
    }
}
@media screen and (max-width: 375px) {
    .username{
        margin-right: 10px;
    }
    .profilepic{
        margin-right: 20px;
    }
    .profilepicimg{
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
}
.btn{
    background-color: #755BB4;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    background-color: #FF851B;
    cursor: pointer;
}
@media screen and (max-width: 370px) {
    .username{
        font-size: 12px;
    }
    .innernav>p{
        font-size: 12px;
        font-weight: 200;
    }
    .profilepic{
        margin-right: 10px;
    }
    .profilepicimg{
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    .search{
        width: 30%;
    }
}
@media screen and (max-width: 250px) {
    .inputs>input{
        height: 20px;
    }
    .profilewords>button{
        margin-bottom: 5px;
    }
    
}