.register{
    display: flex;
    height: 100%;
    background-color: white;
}
.whitepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.logopage{
    width: 50%;
    background-color: #202044;
    height: 100%;
    color: #FF851B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-bottom: 100px;
}
.motto{
    font-size: 36px;
}
.welcome{
    font-size: 48px;
    color: 202044;
    /* margin-bottom: 2%; */
    text-align: center;
}
.reginfo{
    margin-bottom: 2%;
}
.inputs{
    display: flex;
    height: 60%;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: 0 auto;
}
.inputs>input, .inputs>button{
    width: 100%;
    height: 61px;
    padding: 10px;
    border-radius: 10px;
    border-color: #755BB4;
    outline: none;
}
.inputs>button{
    background-color: #202044;
    color: white;
    font-size: 32px;
    border: 0;
}
.inputs>button:hover{
    background-color: #FF851B;
}

.signinstead{
    margin: 3%;
    font-size: 24px;
    cursor: pointer;
}
.signinstead:hover{
    color:#FF851B !important;
    cursor: pointer;
}





  @media screen and (max-width: 1095px) {
    .motto{
        font-size:x-large;
    }
    
    .signinstead{
        font-size: 18px;
    }
    .inputs{
        width: 70%;
    }
    .inputs>input, .inputs>button{
        height: 50px;
    }
    .logo>img{
        width: 300px;
    }
  }
 
  @media screen and (max-width: 768px) {
    /* mobile view */
    .register{
        flex-direction: column-reverse;
        
    }
    .logopage{
        height: 100px;
        background-color: white;
        width: 100%;
   
    }
    .logo{
        height: 200px;
    }
    .whitepage{
        width: 100%;
        height: 80%;
    }
    .motto{
        display: none;
        
    }
    .logo>img{
        height: 200px;
        width: 100%;
        transform: translate(0,20%);
    }
  }
  @media screen and (max-width: 768px) {
    .welcome{
        font-size: 32px;
    }
  }

  @media screen and (max-width: 348px) {
    .reginfo{
        font-size: 14px;
    }
  }
  @media screen and (max-width: 276px) {
    .welcome{
        font-size: 28px;
    }
  }