<div class="register">
    <div class="whitepage">

        <p class="welcome">Create an account</p>
        <p class="reginfo">Register to enjoy great moments with others</p>
        <form class="inputs" [formGroup]="form"  (ngSubmit)="onSubmit(form)">
            <div class="alertMsg" [style.color]="clr">
                {{alertMsg}}
            </div>
            <input type="text" name="name" id="name" placeholder="First Last" formControlName="name">
            <input type="email" name="email" id="emaill" placeholder="you@email.com" formControlName="email">
            <input type="password" name="password" id="passwordl" placeholder="Password" formControlName="password">
            <button type="submit">Create Account</button>
        </form>
        <p class="signinstead" style=" color: #755BB4;" (click)="signup()">Sign in instead</p>
    </div>

    <div class="logopage">

        <div class="logo">

            <img src="..\assets\logo.png" alt="logo">
        </div>
        <div class="motto">
            <p>It's a new experience each day</p>
        </div>
    </div>

</div>